.time {
    display: inline-block;
    margin-right: 15px;
}

.digits-input {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.variants {
    position: absolute;
    top: -30px;
    left: -1px;
    height: 92px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: auto;
    z-index: 10;
}

.year-variants {
    position: absolute;
    top: -15px;
    left: -1px;
    height: 61px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: auto;
}

.variants_item {
    display: block;
    padding: 5px;
    cursor: pointer;
    background: #fff;
    transition: all 0.1s ease-in;
}

.variants_item:hover {
    background: #673ab7;
    color: white;
    transition: all 0.1s ease-in;
}