<div class="container">
    <mat-card class="page-heading">
      <span class="username"><b>{{username}}</b></span>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Токены">
        <app-balance [tokens]="tokens" add="Выпустить" remove="Сжечь" (onAdd)="produceTokens($event)" (onRemove)="removeTokens($event)"></app-balance>
      </mat-tab>
      <mat-tab label="Провайдеры">
        <mat-card>
          <h4>Сервис Провайдеры</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let sp of serviceProviders">
              <mat-expansion-panel-header>{{sp.name}}</mat-expansion-panel-header>
              <p>Баланс: <b>{{sp.balance}}</b></p>
              <p>Станции:</p>
              <mat-expansion-panel *ngFor="let station of sp.stations">
              <mat-expansion-panel-header>{{station.address}}</mat-expansion-panel-header>
              <p>Баланс станции: <b>{{station.balance}}</b></p>
              <p>
                Тарифы:
                <span *ngIf="!station.tariffs.length">На данный момент тарифов нет</span>
                <mat-list *ngIf="station.tariffs.length">
                  <mat-list-item *ngFor="let tariff of station.tariffs">C {{tariff.from}} до {{tariff.to}} цена {{tariff.price}}</mat-list-item>
                </mat-list>
              </p>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </mat-tab>
      <mat-tab label="Журнал Операций">
        <mat-card>
          <mat-form-field>
            <mat-select [(ngModel)]="selectedStation" (ngModelChange)="showStationJournal()">
              <mat-option *ngFor="let station of stations" [value]="station.address">{{station.address}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-table [data]="operations" [displayedColumns]="displayedColumns" [columnsHeaders]="columnsHeaders"></app-table>
        </mat-card>
      </mat-tab>
      <mat-tab label="Баланс станций">
        <app-table [data]="stations" [displayedColumns]="balanceColumns" [columnsHeaders]="balanceHeaders"></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>