<div class="container">
    <mat-card class="page-heading">
      <div>
        <span class="username"><b>{{user}}</b></span>
      </div>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Токены">
        <app-owner-balance 
          [tokens]="balance" 
          add="Выпустить" 
          remove="Сжечь" 
          (onAdd)="produceTokens($event)" 
          (onRemove)="removeTokens($event)" 
          [addingProcess]="producingProcess" 
          [removingProcess]="removingProcess"
        >
        </app-owner-balance>
      </mat-tab>
      <mat-tab label="Провайдеры">
        <mat-card>
          <h4>Сервис Провайдеры</h4>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let sp of serviceProviders">
              <mat-expansion-panel-header>{{sp.name}}</mat-expansion-panel-header>
              <p>Баланс: <b>{{sp.balance}}</b></p>
              <p>Станции:</p>
              <mat-expansion-panel *ngFor="let station of sp.stations">
              <mat-expansion-panel-header>{{station.address}}</mat-expansion-panel-header>
              <p>Баланс станции: <b>{{station.balance}}</b></p>
              <p>
                Тарифы:
                <span *ngIf="!station.tariff.length">На данный момент тарифов нет</span>
                <mat-list *ngIf="station.tariff.length">
                  <mat-list-item *ngFor="let tariff of station.tariff">C {{tariff.from}} до {{tariff.to}} цена {{tariff.price}}</mat-list-item>
                </mat-list>
              </p>
              </mat-expansion-panel>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </mat-tab>
      <mat-tab label="Журнал Операций">
        <mat-card>
          <mat-form-field>
            <mat-select [(ngModel)]="selectedStation" (ngModelChange)="showStationJournal()">
              <mat-option *ngFor="let station of stations" [value]="station.address">{{station.address}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-table [data]="operationsCopy" [displayedColumns]="displayedColumns" [columnsHeaders]="columnsHeaders"></app-table>
        </mat-card>
      </mat-tab>
      <mat-tab label="Баланс станций">
        <app-table [data]="stations" [displayedColumns]="balanceColumns" [columnsHeaders]="balanceHeaders"></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-page-loader *ngIf="isLoading"></app-page-loader>