<mat-card class="balance">
  <h4>Баланс</h4>
  <p>
    Сумма: <b>{{tokens}}</b>
  </p>
  <p>
    <span class="balance_form">
      <span [ngClass]="{ 'balance_input-row': true, 'balance_input-row__opened': isInputOpened }">
        <mat-form-field class="balance_amount-input">
          <input matInput type="text" autocomplete="off" placeholder="Количество" #amountInput />
        </mat-form-field>
      </span>
      <button class="balance_action-button" *ngIf="!buyingProcess" mat-raised-button color="primary" (click)="addTokens()">
        {{ add }}
      </button>
      <span>
        <mat-spinner class="spinner-center" [diameter]="27" *ngIf="buyingProcess"></mat-spinner>
      </span>
    </span>
  </p>
</mat-card>