<span class="role-selector">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="user">Пользователь</a>
    </button>
    <button mat-menu-item>
      <a routerLink="station-owner">Хозяин станции</a>
    </button>
    <button mat-menu-item>
      <a routerLink="service-owner">Хозяин сервиса</a>
    </button>
    <button mat-menu-item>
      <a routerLink="settings">Настройки</a>
    </button>
  </mat-menu>
</span>
<router-outlet></router-outlet>