<div class="main-container">
  <mat-toolbar color="primary" class="toolbar-center main-toolbar">
    <span class="menu-buttons">
      <button mat-icon-button *ngIf="!isMenuOpened" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isMenuOpened" (click)="toggleMenu()">
        <mat-icon>clear</mat-icon>
      </button>
    </span>
    <span>Зарядка Электромобилей</span>
  </mat-toolbar>
  <mat-sidenav-container [hasBackdrop]="hasBackdrop">
    <mat-sidenav #sidenav [opened]="isMenuOpened" [mode]="menuMode">
      <ul class="list">
        <li class="list-item"> 
          <a routerLink="/user" class="sidenav-item">
            <mat-icon class="menu-icon">account_circle</mat-icon>
            Пользователь
          </a>
        </li>
        <li class="list-item">
          <a routerLink="/station-owner" class="sidenav-item">
            <mat-icon class="menu-icon">ev_station</mat-icon>
            Владелец станции
          </a>
        </li>
        <li class="list-item">
          <a routerLink="/service-owner" class="sidenav-item">
            <mat-icon class="menu-icon">device_hub</mat-icon>
            Диспетчер
          </a>
        </li>
        <li class="list-item">
          <a routerLink="/settings" class="sidenav-item">
            <mat-icon class="menu-icon">settings</mat-icon>
            Настройки
          </a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>