.settings-card {
    width: 100%;
    max-width: 450px;
}

.settings-form {
    width: 100%;
    max-width: 400px;
}

.settings-form mat-form-field {
    display: block;
}

.settings-form_textarea {
    resize: none;
}

.settings-form_actions {
    text-align: right;
}