<div class="container">
    <mat-card class="page-heading">
      <span class="username">{{username}}</span>
      <span class="balance">Баланс: <b>{{balance | currency}}</b></span>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Токены">
        <mat-card>
          <h4 class="text-center">Токены</h4>
          <p>
            Количество: <b>{{tokens}}</b>
            <span class="tokens-actions">
              <button mat-raised-button color="primary" (click)="buyTokens()" *ngIf="!tokenSaling">Купить</button>
              <button mat-raised-button color="warn" (click)="saleTokens()" *ngIf="!tokenBuying">Продать</button>
            </span>
            <span class="token-operations" *ngIf="tokenBuying || tokenSaling">
              <mat-form-field>
                <input type="number" min="0" #amount matInput value="0" />
              </mat-form-field>
              <button mat-raised-button color="accent" (click)="manipulateTokens(amount.value)">Готово</button>
            </span>
          </p>
          </mat-card>
      </mat-tab>
      <mat-tab label="Зарегестрированные станции">
        <div class="registered-stations">
          <mat-card>
            <h4>Зарегестрированные станции</h4>
            <mat-list>
              <mat-list-item *ngFor="let station of stations">{{station}}</mat-list-item>
            </mat-list>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Добавить станцию">

        <div class="register-station">
          <mat-card>
            <h4>Зарегестрировать новую станцию</h4>
            <mat-form-field>
              <input matInput placeholder="Адрес новой станции" [(ngModel)]="newStation" />
            </mat-form-field>
            <div class="tariffs">
              <h4>Тарифы</h4>
              <div class="inline-form">
                <span class="inline-form_label">C</span>
                <mat-form-field>
                  <input matInput type="time" [(ngModel)]="newTariffFrom" class="inline-input"/>
                </mat-form-field>
                <span class="inline-form_label">До</span>
                <mat-form-field>
                  <input matInput type="time" [(ngModel)]="newTariffTo" class="inline-input" />
                </mat-form-field>
                <span class="inline-form_label">Цена</span>
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="newTariffPrice" class="inline-input" />
                </mat-form-field>
                <div>
                  <button mat-raised-button color="primary" (click)="addNewTariff()">Добавить тариф</button>
                </div>
              </div>
              <div class="tariffs-list">
                <mat-list>
                  <mat-list-item *ngFor="let tariff of tariffs">{{tariff}}</mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="right-button">
              <button mat-raised-button color="primary" [disabled]="!validateNewStation()" (click)="addNewStation()">Добавить станцию</button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Журнал">
        <div class="journal">
          <mat-card>
            <h4 class="text-center">Журнал</h4>
            <div class="mat-elevation-z8">
              <table class="journal-table" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Дата </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="operation">
                  <th mat-header-cell *matHeaderCellDef> Операция </th>
                  <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
                </ng-container>          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>