<div class="container">
    <mat-card class="page-heading">
      <span class="username"><b>{{username}}</b></span>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Баланс">
          <app-balance [tokens]="tokens" add="Купить" remove="Продать" (onAdd)="buyTokens($event)" (onRemove)="saleTokens($event)"></app-balance>
      </mat-tab>
      <mat-tab label="Зарегестрированные станции">
        <div class="registered-stations">
          <mat-card>
            <h4>Зарегестрированные станции</h4>
            <button mat-raised-button class="inline-item" *ngIf="!adding" color="primary" (click)="toggleAdding()">Добавить станцию</button>
            <mat-form-field *ngIf="adding" class="inline-item">
              <input matInput class="inline-item" placeholder="Адрес станции" [(ngModel)]="newStation" />
            </mat-form-field>
            <button class="inline-item" *ngIf="adding" mat-raised-button color="accent" (click)="addNewStation()">Добавить</button>
            <button mat-raised-button *ngIf="adding" color="warn" (click)="toggleAdding()">Отмена</button>
            <mat-list>
              <mat-list-item *ngFor="let station of stations">{{station}}</mat-list-item>
            </mat-list>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Журнал">
        <div class="journal">
          <mat-card>
            <h4 class="text-center">Журнал</h4>
            <p *ngIf="!dataSource">На данный момент записей в журнале нет</p>
            <div class="mat-elevation-z8" *ngIf="dataSource">
              <table class="journal-table" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Дата </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="operation">
                  <th mat-header-cell *matHeaderCellDef> Операция </th>
                  <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
                </ng-container>          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>