.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto;
}

.flex-list mat-list-item {
    width: 200px;
    page-break-inside: avoid;
    break-inside: avoid;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.1s ease-in;
}

.flex-list mat-list-item:hover {
    background: #673ab7;
    color: white;
    transition: all 0.1s ease-in;
}

.form-input {
    position: relative;
    width: 80%;
    max-width: 250px;
}

.action-panels {
    display: flex;
    padding: 0 0 10px;
}

.action-panels_item {
    width: 50%;
}

.charge-panel, .reserve-panel {
    width: 90%;
    margin: 0 auto;
    padding: 30px;       
}

.huge-button {
    display: block;
    width: 80%;
    min-width: 146px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
}

@media screen and (max-width: 725px) {
    .action-panels {
        display: block;
    }

    .action-panels_item {
        width: 100%;
    }
}