<div class="container">
  <mat-card class="page-heading">
    <span class="username"><b>{{user.name}}</b></span>
  </mat-card>
  <mat-tab-group>
    <mat-tab label="Баланс">
      <app-balance add="Купить" remove="Продать" [tokens]="user.balance" (onAdd)="onBuy($event)" (onRemove)="onSale($event)"></app-balance>
    </mat-tab>
    <mat-tab label="Зарядка">
      <mat-card class="form">
        <mat-form-field class="form-input" *ngIf="showInput">
          <input type="text" matInput (input)="findVariants()" [(ngModel)]="address" placeholder="Начните вводить адрес" autocomplete="off" />
          <ul *ngIf="variants.length">
            <li *ngFor="let variant of variants" class="variants-item" (click)="setAddress(variant)">{{variant.address}}</li>
          </ul>
        </mat-form-field>
        <p class="time-field">
          Укажите время:
          <input matInput type="time" class="time-input" [(ngModel)]="time" />
        </p>
        <p>
          <button [disabled]="!validateForm()" mat-raised-button color="primary" (click)="reserve()">Забронировать</button>
        </p>
      </mat-card>
      <mat-card class="charge-panel">
        <button mat-raised-button color="warn" class="charge-button" (click)="charge()">Заряжать</button>
      </mat-card>
    </mat-tab>
    <mat-tab label="Операции">
      <mat-card>
        <h4 class="text-center">Выполненные операции</h4>
        <div class="mat-elevation-z8">
            <table class="journal-table" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Дата </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Операция </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>