.page-heading div {
    overflow: hidden;
}

.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto;
}

.flex-list mat-list-item {
    width: 200px;
    page-break-inside: avoid;
    break-inside: avoid;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.1s ease-in;
}

.flex-list mat-list-item:hover {
    background: #673ab7;
    color: white;
    transition: all 0.1s ease-in;
}

.form-input {
    position: relative;
    width: 80%;
    max-width: 250px;
    margin-right: 10px;
}

.form_action-button, .charging {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 140px;
}

.charging {
    display: inline-block;
    border: 5px solid #f44336;
    border-radius: 5px;
    height: 36px;
    bottom: -3px;
    position: relative;
}

.charging:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 0;
    height: 22px;
    background: #f44336;
    border-radius: 3px;
    animation: charging 10s linear;
}

.charging:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: -9px;
    width: 5px;
    height: 22px;
    background: #f44336;
    border-radius: 0 3px 3px 0;
}

.charging-inner {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 1.4em;
    color: #f44336;
    text-align: center;
    visibility: hidden;
    animation: complete-charging 10.3s linear forwards;
}

.payment-spinner {
    display: inline-block;
    width: 140px;
    position: relative;
    top: 10px;
}

.spinner-center {
    margin: 0 auto;
}

.reserve-minutes {
    display: block;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border: 2px solid #999;
    border-radius: 7px;
    padding: 4px;
    position: relative;
}

.increase-minutes, .decrease-minutes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    border: 2px solid #999;
    border-radius: 5px;
    height: 24px;
    width: 24px;
}

.increase-minutes {
    top: -2px;
    right: -30px;
}

.decrease-minutes {
    bottom: -2px;
    right: -30px;
}

.forward {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

@media screen and (max-width: 725px) {
    .action-panels {
        display: block;
    }

    .action-panels_item {
        width: 100%;
    }
}

@keyframes charging {
    0% {
        width: 0;
    }

    100% {
        width: 126px;
    }
}

@keyframes complete-charging {
    0% {
        visibility: hidden;
    }

    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}