.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto;
}

.flex-list mat-list-item {
    width: 200px;
    page-break-inside: avoid;
    break-inside: avoid;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.1s ease-in;
}

.flex-list mat-list-item:hover {
    background: #673ab7;
    color: white;
    transition: all 0.1s ease-in;
}

.form-input {
    position: relative;
    width: 80%;
    max-width: 250px;
}

.action-panels {
    display: flex;
    padding: 0 0 10px;
}

.action-panels_item {
    width: 50%;
}

.charge-panel, .reserve-panel {
    width: 90%;
    margin: 0 auto;
    padding: 30px;       
}

.huge-button {
    display: block;
    width: 80%;
    min-width: 146px;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.modal_backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal_dialog {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -160px;
}

.modal_close-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.modal_dialog-content {
    height: 230px;
}

.modal_dialog-footer {
    height: 40px;
    text-align: right;
}

.modal_action-button {
    margin-right: 10px;
}

.modal_action-button:last-child {
    margin-right: 0;
}

@media screen and (max-width: 725px) {
    .action-panels {
        display: block;
    }

    .action-panels_item {
        width: 100%;
    }
}