<div class="container">
  <mat-card class="page-heading">
    <div>
      <span class="username"><b>{{user}}</b></span>
    </div>
  </mat-card>
  <mat-tab-group>
    <mat-tab label="Баланс">
      <app-balance add="Купить" remove="Продать" [tokens]="balance" [buyingProcess]="buyingProcess" (onAdd)="onBuy($event)"></app-balance>
    </mat-tab>
    <mat-tab label="Зарядка">
      <mat-card class="form">
        <mat-card>
          <h4>Выберите станцию:</h4>
          <mat-form-field class="form-input">
            <input type="text" matInput (input)="findVariants()" [(ngModel)]="address" placeholder="Поиск по адресу" autocomplete="off" />
          </mat-form-field>
          <button class="form_action-button" mat-raised-button color="accent" [disabled]="!validateAddress() || chargingProcess || paymentProcess" (click)="openReserveDialog()">Забронировать</button>
          <button class="form_action-button" *ngIf="!chargingProcess && !paymentProcess" mat-raised-button color="warn" [disabled]="!validateAddress()" (click)="charge()">Заряжать (150)</button>
          <span class="payment-spinner" *ngIf="paymentProcess">
            <mat-spinner class="spinner-center" [diameter]="27"></mat-spinner>
          </span>
          <span class="charging" *ngIf="chargingProcess"><span class="charging-inner">Готово</span></span>
        </mat-card>
        <mat-card *ngIf="variants.length">
          <mat-list class="flex-list">
            <mat-list-item *ngFor="let variant of variants" class="variants-item" (click)="setAddress(variant)">{{variant.address}}</mat-list-item>
          </mat-list>
        </mat-card>
      </mat-card>
    </mat-tab>
    <mat-tab label="Операции">
      <mat-card>
        <h4 class="text-center">Выполненные операции</h4>
        <app-table [data]="operations" [displayedColumns]="tableColumns" [columnsHeaders]="columnsHeaders"></app-table>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
<app-modal action="Забронировать" [isModalOpened]="isModalOpened" (submitAction)="reserve()" (closeAction)="closeModal()">
  <h4>Бронирование</h4>
  <p>Выберите желаемое время и дату:</p>
  <p>
    <app-datetimepicker (transferDate)="setDate($event)"></app-datetimepicker>
  </p>
  <div>
    <p>Количество минут зарядки:</p>
    <span class="reserve-minutes">
      <span class="forward"></span>
      {{reserveMinutes}}
      <span class="increase-minutes" (click)="increaseReserveMinutes()">
        <span class="forward"></span>
        <mat-icon>arrow_drop_up</mat-icon>
      </span>
      <span class="decrease-minutes" (click)="decreaseReserveMinutes()">
        <span class="forward"></span>
        <mat-icon>arrow_drop_down</mat-icon>
      </span>
    </span>
  </div>
</app-modal>
<app-page-loader *ngIf="isLoading"></app-page-loader>