/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    box-sizing: border-box;
}

html, body { 
    width: 100%;
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
    width: 0.7em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  outline: 1px solid #27193f;
  border-radius: 5px;
}

.text-center {
    text-align: center;
}

.toolbar-center {
    justify-content: center;
}

.main-container {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    box-shadow: 0 0 50px #555;
}

.main-toolbar {
    height: 64px !important;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: #673ab7;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #673ab7
}

.balance {
    position: absolute;
    right: 30px;
}

.page-heading {
    margin-bottom: 30px;
}

mat-card {
    margin: 15px 0;
}

.tokens-actions {
    display: inline-block;
    margin: 0 10px;
}

.tokens-actions button {
    margin: 0 10px;
}

.token-operations mat-form-field {
    width: 70px;
    margin-right: 10px;
}

.journal-table {
    width: 100%;
}